.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.glow-text {
  text-shadow: 0 0 8px rgba(34, 197, 94, 0.6), 0 0 16px rgba(255, 255, 255, 0.8);
}

/* General Style */
input[type="range"] {
  -webkit-appearance: none; /* Remove default styling */
  width: 100%;
  height: 10px; /* Height of the range bar */
  background: #ffffff; /* Default (inactive) bar color */
  outline: none;
  border-radius: 5px; /* Optional: for rounded edges */
  position: relative;
  /* overflow: hidden; */
}

/* Active (filled) part of the bar */
input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #4A2574 var(--value, 0%), #ffffff var(--value, 0%));
  height: 10px;
  border-radius: 5px;
}

input[type="range"]::-moz-range-track {
  background: linear-gradient(to right, #4A2574 var(--value, 0%), #ffffff var(--value, 0%));
  height: 10px;
  border-radius: 5px;
}

input[type="range"]::-ms-track {
  background: linear-gradient(to right, #4A2574 var(--value, 0%), #ffffff var(--value, 0%));
  height: 10px;
  border-radius: 5px;
}

/* Thumb styling */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px; /* Adjust the thumb size */
  height: 20px;
  background: #4A2574; /* Thumb color */
  border-radius: 50%; /* Make the thumb circular */
  cursor: pointer;
  border: 2px solid #ffffff; /* Optional: add a border */
  position: relative;
  top: -5px; /* Center the thumb on the track */
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #4A2574;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ffffff;
  position: relative;
  top: -5px; /* Center the thumb on the track */
}

input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #4A2574;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ffffff;
  position: relative;
  top: -5px; /* Center the thumb on the track */
}

/* Optional: Add a hover effect for the thumb */
input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}
